In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
df=pd.read_csv('adult_with_headers.csv')
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df.shape

(32561, 15)

In [ ]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [ ]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [ ]:
#Handling Missing Values
#Removing rows and columns with too many missing values
df_clean=df.dropna()
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#Applying scaling techniques on numercial columns
num_columns=df.select_dtypes(include=[np.number]).columns
num_columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [ ]:
#Standard Scaling
scaler=StandardScaler()
df_standard_scaled=df_clean.copy()
df_standard_scaled[num_columns]=scaler.fit_transform(df_clean[num_columns])
df_standard_scaled

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.030671,State-gov,-1.063611,Bachelors,1.134739,Never-married,Adm-clerical,Not-in-family,White,Male,0.148453,-0.21666,-0.035429,United-States,<=50K
1,0.837109,Self-emp-not-inc,-1.008707,Bachelors,1.134739,Married-civ-spouse,Exec-managerial,Husband,White,Male,-0.145920,-0.21666,-2.222153,United-States,<=50K
2,-0.042642,Private,0.245079,HS-grad,-0.420060,Divorced,Handlers-cleaners,Not-in-family,White,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
3,1.057047,Private,0.425801,11th,-1.197459,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
4,-0.775768,Private,1.408176,Bachelors,1.134739,Married-civ-spouse,Prof-specialty,Wife,Black,Female,-0.145920,-0.21666,-0.035429,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,Private,0.639741,Assoc-acdm,0.746039,Married-civ-spouse,Tech-support,Wife,White,Female,-0.145920,-0.21666,-0.197409,United-States,<=50K
32557,0.103983,Private,-0.335433,HS-grad,-0.420060,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,-0.145920,-0.21666,-0.035429,United-States,>50K
32558,1.423610,Private,-0.358777,HS-grad,-0.420060,Widowed,Adm-clerical,Unmarried,White,Female,-0.145920,-0.21666,-0.035429,United-States,<=50K
32559,-1.215643,Private,0.110960,HS-grad,-0.420060,Never-married,Adm-clerical,Own-child,White,Male,-0.145920,-0.21666,-1.655225,United-States,<=50K
32560,0.983734,Self-emp-inc,0.929893,HS-grad,-0.420060,Married-civ-spouse,Exec-managerial,Wife,White,Female,1.888424,-0.21666,-0.035429,United-States,>50K

In [ ]:
#MinMax Scaling
minmax_scaler=MinMaxScaler()
df_minmax_scaled=df_clean.copy()
df_minmax_scaled[num_columns]=minmax_scaler.fit_transform(df_clean[num_columns])
df_minmax_scaled

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.021740,0.0,0.397959,United-States,<=50K
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,0.122449,United-States,<=50K
2,0.287671,Private,0.138113,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,0.397959,United-States,<=50K
3,0.493151,Private,0.151068,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,0.397959,United-States,<=50K
4,0.150685,Private,0.221488,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,0.397959,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,Private,0.166404,Assoc-acdm,0.733333,Married-civ-spouse,Tech-support,Wife,White,Female,0.000000,0.0,0.377551,United-States,<=50K
32557,0.315068,Private,0.096500,HS-grad,0.533333,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.000000,0.0,0.397959,United-States,>50K
32558,0.561644,Private,0.094827,HS-grad,0.533333,Widowed,Adm-clerical,Unmarried,White,Female,0.000000,0.0,0.397959,United-States,<=50K
32559,0.068493,Private,0.128499,HS-grad,0.533333,Never-married,Adm-clerical,Own-child,White,Male,0.000000,0.0,0.193878,United-States,<=50K
32560,0.479452,Self-emp-inc,0.187203,HS-grad,0.533333,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.150242,0.0,0.397959,United-States,>50K

In [ ]:
#Summary
summary="""
Scaling Summary
1. Standard Scaling (z-score Normalization):
-Formula: (x - mean) / standard deviation
-Centers data around mean = 0 and standard deviation = 1
-Best for algorithms assuming normally distributed data (e.g., linear regression, SVM, PCA)
-Helps when data has outliers, as it reduces their relative impact compared to Min-Max scaling.

2. Min-Max Scaling (Normalization):
-Formula: (x - min) /(max - min)
-Transforms features into range (0,1)
-Preferred for distance-based algorithms like, KNN, Neural Networks, and Clustering where features must be comparable in scales
-Sensitive to outliers since extreme values can compress most data points into a small range.


In this dataset, features such as age, capital gain, hours_per_week can be effectively scaled using StandardScaler for most ML models.
However, MinMax Scaler is useful for neural networks where gradient-based optimization benefits from bounded input ranges.
"""
print(summary)

Scaling Summary
1. Standard Scaling (z-score Normalization):
-Formula: (x - mean) / standard deviation
-Centers data around mean = 0 and standard deviation = 1
-Best for algorithms assuming normally distributed data (e.g., linear regression, SVM, PCA)
-Helps when data has outliers, as it reduces their relative impact compared to Min-Max scaling.

2. Min-Max Scaling (Normalization):
-Formula: (x - min) /(max - min)
-Transforms features into range (0,1)
-Preferred for distance-based algorithms like, KNN, Neural Networks, and Clustering where features must be comparable in scales
-Sensitive to outliers since extreme values can compress most data points into a small range.


In this dataset, features such as age, capital gain, hours_per_week can be effectively scaled using StandardScaler for most ML models.
However, MinMax Scaler is useful for neural networks where gradient-based optimization benefits from bounded input ranges.

In [ ]:
#Encoding Techniques
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
df=pd.read_csv('adult_with_headers.csv')
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
categorical_columns=df.select_dtypes(include=['object']).columns
categorical_columns

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country', 'income'],
      dtype='object')

In [ ]:
low_cardinality_columns=[col for col in categorical_columns if df[col].nunique() <= 5]
low_cardinality_columns

['race', 'sex', 'income']

In [ ]:
#Applying One-Hot Encoding to low cardinality columns
df_onehot=pd.get_dummies(df, columns=low_cardinality_columns)
df_onehot

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,capital_gain,capital_loss,...,native_country,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,39,7,77516,9,13,4,1,1,2174,0,...,39,False,False,False,False,True,False,True,True,False
1,50,6,83311,9,13,2,4,0,0,0,...,39,False,False,False,False,True,False,True,True,False
2,38,4,215646,11,9,0,6,1,0,0,...,39,False,False,False,False,True,False,True,True,False
3,53,4,234721,1,7,2,6,0,0,0,...,39,False,False,True,False,False,False,True,True,False
4,28,4,338409,9,13,2,10,5,0,0,...,5,False,False,True,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,0,0,...,39,False,False,False,False,True,True,False,True,False
32557,40,4,154374,11,9,2,7,0,0,0,...,39,False,False,False,False,True,False,True,False,True
32558,58,4,151910,11,9,6,1,4,0,0,...,39,False,False,False,False,True,True,False,True,False
32559,22,4,201490,11,9,4,1,3,0,0,...,39,False,False,False,False,True,False,True,True,False
32560,52,5,287927,11,9,2,4,5,15024,0,...,39,False,False,False,False,True,True,False,False,True

In [ ]:
high_cardinality_columns=[col for col in categorical_columns if df[col].nunique() > 5]
high_cardinality_columns

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'native_country']

In [ ]:
#Applying Label Encoder to high cardinality columns
df_encoded=df.copy()
label_mappings={}
for col in high_cardinality_columns:
  #convert to string and fill missing values with a sentinel
  df_encoded[col]= df_encoded[col].astype(str).fillna('missing')
  le=LabelEncoder()
  df_encoded[col]=le.fit_transform(df_encoded[col])
  label_mappings[col]=le.classes_
  df_encoded
  print(df_encoded)

       age  workclass  fnlwgt  education  education_num  marital_status  \
0       39          7   77516          9             13               4
1       50          6   83311          9             13               2
2       38          4  215646         11              9               0
3       53          4  234721          1              7               2
4       28          4  338409          9             13               2
...    ...        ...     ...        ...            ...             ...
32556   27          4  257302          7             12               2
32557   40          4  154374         11              9               2
32558   58          4  151910         11              9               6
32559   22          4  201490         11              9               4
32560   52          5  287927         11              9               2

       occupation  relationship    race      sex  capital_gain  capital_loss  \
0               1             1   White     Male          2174             0
1               4             0   White     Male             0             0
2               6             1   White     Male             0             0
3               6             0   Black     Male             0             0
4              10             5   Black   Female             0             0
...           ...           ...     ...      ...           ...           ...
32556          13             5   White   Female             0             0
32557           7             0   White     Male             0             0
32558           1             4   White   Female             0             0
32559           1             3   White     Male             0             0
32560           4             5   White   Female         15024             0

       hours_per_week  native_country  income
0                  40              39   <=50K
1                  13              39   <=50K
2                  40              39   <=50K
3                  40              39   <=50K
4                  40               5   <=50K
...               ...             ...     ...
32556              38              39   <=50K
32557              40              39    >50K
32558              40              39   <=50K
32559              20              39   <=50K
32560              40              39    >50K

[32561 rows x 15 columns]
       age  workclass  fnlwgt  education  education_num  marital_status  \
0       39          7   77516         15             13               4
1       50          6   83311         15             13               2
2       38          4  215646          3              9               0
3       53          4  234721          1              7               2
4       28          4  338409         15             13               2
...    ...        ...     ...        ...            ...             ...
32556   27          4  257302         13             12               2
32557   40          4  154374          3              9               2
32558   58          4  151910          3              9               6
32559   22          4  201490          3              9               4
32560   52          5  287927          3              9               2

       occupation  relationship    race      sex  capital_gain  capital_loss  \
0               1             1   White     Male          2174             0
1               4             0   White     Male             0             0
2               6             1   White     Male             0             0
3               6             0   Black     Male             0             0
4              10             5   Black   Female             0             0
...           ...           ...     ...      ...           ...           ...
32556          13             5   White   Female             0             0
32557           7             0   White     Male             0             0
32558           1             4   White   Female             0             0
32559           1             3   White     Male             0             0
32560           4             5   White   Female         15024             0

       hours_per_week  native_country  income
0                  40              39   <=50K
1                  13              39   <=50K
2                  40              39   <=50K
3                  40              39   <=50K
4                  40               5   <=50K
...               ...             ...     ...
32556              38              39   <=50K
32557              40              39    >50K
32558              40              39   <=50K
32559              20              39   <=50K
32560              40              39    >50K

[32561 rows x 15 columns]
       age  workclass  fnlwgt  education  education_num  marital_status  \
0       39          7   77516         15             13               4
1       50          6   83311         15             13               2
2       38          4  215646          3              9               0
3       53          4  234721          1              7               2
4       28          4  338409         15             13               2
...    ...        ...     ...        ...            ...             ...
32556   27          4  257302         13             12               2
32557   40          4  154374          3              9               2
32558   58          4  151910          3              9               6
32559   22          4  201490          3              9               4
32560   52          5  287927          3              9               2

       occupation  relationship    race      sex  capital_gain  capital_loss  \
0               1             1   White     Male          2174             0
1               4             0   White     Male             0             0
2               6             1   White     Male             0             0
3               6             0   Black     Male             0             0
4              10             5   Black   Female             0             0
...           ...           ...     ...      ...           ...           ...
32556          13             5   White   Female             0             0
32557           7             0   White     Male             0             0
32558           1             4   White   Female             0             0
32559           1             3   White     Male             0             0
32560           4             5   White   Female         15024             0

       hours_per_week  native_country  income
0                  40              39   <=50K
1                  13              39   <=50K
2                  40              39   <=50K
3                  40              39   <=50K
4                  40               5   <=50K
...               ...             ...     ...
32556              38              39   <=50K
32557              40              39    >50K
32558              40              39   <=50K
32559              20              39   <=50K
32560              40              39    >50K

[32561 rows x 15 columns]
       age  workclass  fnlwgt  education  education_num  marital_status  \
0       39          7   77516         15             13               4
1       50          6   83311         15             13               2
2       38          4  215646          3              9               0
3       53          4  234721          1              7               2
4       28          4  338409         15             13               2
...    ...        ...     ...        ...            ...             ...
32556   27          4  257302         13             12               2
32557   40          4  154374          3              9               2
32558   58          4  151910          3              9               6
32559   22          4  201490          3              9               4
32560   52          5  287927          3              9               2

       occupation  relationship    race      sex  capital_gain  capital_loss  \
0               1             1   White     Male          2174             0
1               9             0   White     Male             0             0
2              11             1   White     Male             0             0
3              11             0   Black     Male             0             0
4               2             5   Black   Female             0             0
...           ...           ...     ...      ...           ...           ...
32556           5             5   White   Female             0             0
32557          12             0   White     Male             0             0
32558           1             4   White   Female             0             0
32559           1             3   White     Male             0             0
32560           9             5   White   Female         15024             0

       hours_per_week  native_country  income
0                  40              39   <=50K
1                  13              39   <=50K
2                  40              39   <=50K
3                  40              39   <=50K
4                  40               5   <=50K
...               ...             ...     ...
32556              38              39   <=50K
32557              40              39    >50K
32558              40              39   <=50K
32559              20              39   <=50K
32560              40              39    >50K

[32561 rows x 15 columns]
       age  workclass  fnlwgt  education  education_num  marital_status  \
0       39          7   77516         15             13               4
1       50          6   83311         15             13               2
2       38          4  215646          3              9               0
3       53          4  234721          1              7               2
4       28          4  338409         15             13               2
...    ...        ...     ...        ...            ...             ...
32556   27          4  257302         13             12               2
32557   40          4  154374          3              9               2
32558   58          4  151910          3              9               6
32559   22          4  201490          3              9               4
32560   52          5  287927          3              9               2

       occupation  relationship    race      sex  capital_gain  capital_loss  \
0               1             1   White     Male          2174             0
1               9             0   White     Male             0             0
2              11             1   White     Male             0             0
3              11             0   Black     Male             0             0
4               2             5   Black   Female             0             0
...           ...           ...     ...      ...           ...           ...
32556           5             5   White   Female             0             0
32557          12             0   White     Male             0             0
32558           1             4   White   Female             0             0
32559           1             3   White     Male             0             0
32560           9             5   White   Female         15024             0

       hours_per_week  native_country  income
0                  40              39   <=50K
1                  13              39   <=50K
2                  40              39   <=50K
3                  40              39   <=50K
4                  40               5   <=50K
...               ...             ...     ...
32556              38              39   <=50K
32557              40              39    >50K
32558              40              39   <=50K
32559              20              39   <=50K
32560              40              39    >50K

[32561 rows x 15 columns]
       age  workclass  fnlwgt  education  education_num  marital_status  \
0       39          7   77516         15             13               4
1       50          6   83311         15             13               2
2       38          4  215646          3              9               0
3       53          4  234721          1              7               2
4       28          4  338409         15             13               2
...    ...        ...     ...        ...            ...             ...
32556   27          4  257302         13             12               2
32557   40          4  154374          3              9               2
32558   58          4  151910          3              9               6
32559   22          4  201490          3              9               4
32560   52          5  287927          3              9               2

       occupation  relationship    race      sex  capital_gain  capital_loss  \
0               1             1   White     Male          2174             0
1               9             0   White     Male             0             0
2              11             1   White     Male             0             0
3              11             0   Black     Male             0             0
4               2             5   Black   Female             0             0
...           ...           ...     ...      ...           ...           ...
32556           5             5   White   Female             0             0
32557          12             0   White     Male             0             0
32558           1             4   White   Female             0             0
32559           1             3   White     Male             0             0
32560           9             5   White   Female         15024             0

       hours_per_week  native_country  income
0                  40              33   <=50K
1                  13              33   <=50K
2                  40              33   <=50K
3                  40              33   <=50K
4                  40              37   <=50K
...               ...             ...     ...
32556              38              33   <=50K
32557              40              33    >50K
32558              40              33   <=50K
32559              20              33   <=50K
32560              40              33    >50K

[32561 rows x 15 columns]

In [ ]:
#Discussion on Pros and Cons
Encoding= """
Encoding:

1.One-Hot Encoding:
 -Converts categorical values into multiple binary columns (0 or 1).
 -Example: 'Sex' => 'Sex Male', 'Sex Female'.
 -**Pros:**
       -No ordinal relationship implied (safe for non-ordered categories).
       -Works well for algorithms like Logical Regression and Tree-based models.
 -**Cons:**
       -Increases dimensionality (especially for high-cardinality columns).
       -Can cause sparse matrices, leading to higher memory usuage.

2.Label Encoding:
 -Assigns each category to an integer label (e.g., Red=0, Blue=1, Green=2).
 -**Pros:**
        -Simple and memory efficient.
        -Preserves all information in single column.
 -**Cons:**
        -Implies an artifical ordinal relationship between categories (which may mislead models).
        -Not ideal for linear models but accepted for Tree-based algorithms (Decision Trees, Random Forests).

"""
print(Encoding)

Encoding:

1.One-Hot Encoding:
 -Converts categorical values into multiple binary columns (0 or 1).
 -Example: 'Sex' => 'Sex Male', 'Sex Female'.
 -**Pros:**
       -No ordinal relationship implied (safe for non-ordered categories).
       -Works well for algorithms like Logical Regression and Tree-based models.
 -**Cons:**
       -Increases dimensionality (especially for high-cardinality columns).
       -Can cause sparse matrices, leading to higher memory usuage.

2.Label Encoding:
 -Assigns each category to an integer label (e.g., Red=0, Blue=1, Green=2).
 -**Pros:**
        -Simple and memory efficient.
        -Preserves all information in single column.
 -**Cons:**
        -Implies an artifical ordinal relationship between categories (which may mislead models).
        -Not ideal for linear models but accepted for Tree-based algorithms (Decision Trees, Random Forests).

In [ ]:
#Feature Engineering
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('adult_with_headers.csv')
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
num_columns=df.select_dtypes(include=[np.number]).columns
num_columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [ ]:
skewness=df[num_columns].skew().sort_values()
skewness

education_num     -0.311676
hours_per_week     0.227643
age                0.558743
fnlwgt             1.446980
capital_loss       4.594629
capital_gain      11.953848
dtype: float64

In [ ]:
highly_skewed=skewness[abs(skewness) > 1]
highly_skewed

fnlwgt           1.446980
capital_loss     4.594629
capital_gain    11.953848
dtype: float64

In [ ]:
#Applying Log Transformation to one skewed feature (capital_gain)
df['capital_gain']=np.log1p(df['capital_gain'])
df['capital_gain']

0        2.161573
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
32556    0.000000
32557    0.000000
32558    0.000000
32559    0.000000
32560    2.362501
Name: capital_gain, Length: 32561, dtype: float64

In [ ]:
#Creating Two New Features
#Feature 1: Age Group (categorical grouping of age)
df['age group'] =pd.cut(df['age'], bins=[0, 25, 45, 65, 100], labels=['young', 'middle_aged', 'senior', 'old'])
df['age group']

0        middle_aged
1             senior
2        middle_aged
3             senior
4        middle_aged
            ...
32556    middle_aged
32557    middle_aged
32558         senior
32559          young
32560         senior
Name: age group, Length: 32561, dtype: category
Categories (4, object): ['young' < 'middle_aged' < 'senior' < 'old']

In [ ]:
#Feature 2: Work hours category (based on weekly hours)
df['work_hours_category']=pd.cut(df['hours_per_week'], bins=[0, 25, 45, 65, 100], labels=['Part-time', 'Full-time', 'Overtime', 'Extreme'])
df['work_hours_category']

0        Full-time
1        Part-time
2        Full-time
3        Full-time
4        Full-time
           ...
32556    Full-time
32557    Full-time
32558    Full-time
32559    Part-time
32560    Full-time
Name: work_hours_category, Length: 32561, dtype: category
Categories (4, object): ['Part-time' < 'Full-time' < 'Overtime' < 'Extreme']

In [ ]:
#New features and Skewness Report
summary=pd.DataFrame({
    'Feature': skewness.index,
    'skewness': skewness.values,
    'Transformation_Required': ['Log' if f == 'capital_gain' else 'None' for  f in skewness.index]
})
print("Skewness and Transformation summary", summary)

Skewness and Transformation summary           Feature   skewness Transformation_Required
0   education_num  -0.311676                    None
1  hours_per_week   0.227643                    None
2             age   0.558743                    None
3          fnlwgt   1.446980                    None
4    capital_loss   4.594629                    None
5    capital_gain  11.953848                     Log

In [ ]:
#Explanation for Feature Engineering
Explanation= """
Feature Engineering Rationale:


1. **New Feature 1: age group**
                  -Rationale: The effect of age on income is often nonlinear. Grouping age into catergories helps models
                   capture age based income differences (e.g., younger individuals might be students, middle-age individuals in peak careers,
                   old individuals near retirement).

2. **New Feature 2: work_hours_category**
                  -Rationale: Income potential and job type often relate to weekly work hours. Categorizing hours_per_week
                  helps model detect patterns between part-time, full-time, overtime workers.

3. **Transformation: capital_gain_log**
                  -Reason: 'capital_gain' is highly right skewed (most people have zero gain , few have very high values).
                  Applying log transformation normalizes it's distributio, reducing the influence of extreme outliers and
                  improving model performance for linear and distance-based algorithms.

These transformations improve model interpretabilty and roubstness by reducing skewness and capturing important behavioral
patterns from raw numeric data.

"""
print(Explanation)

Feature Engineering Rationale:


1. **New Feature 1: age group**
                  -Rationale: The effect of age on income is often nonlinear. Grouping age into catergories helps models
                   capture age based income differences (e.g., younger individuals might be students, middle-age individuals in peak careers,
                   old individuals near retirement).

2. **New Feature 2: work_hours_category**
                  -Rationale: Income potential and job type often relate to weekly work hours. Categorizing hours_per_week
                  helps model detect patterns between part-time, full-time, overtime workers.

3. **Transformation: capital_gain_log**
                  -Reason: 'capital_gain' is highly right skewed (most people have zero gain , few have very high values).
                  Applying log transformation normalizes it's distributio, reducing the influence of extreme outliers and
                  improving model performance for linear and distance-based algorithms.

These transformations improve model interpretabilty and roubstness by reducing skewness and capturing important behavioral
patterns from raw numeric data.

In [ ]:
#Feature Selection
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('adult_with_headers.csv')
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
num_columns= df.select_dtypes(include=['int64', 'float64']).columns
num_columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [ ]:
#Applying IsolationForest for outlier detection
iso=IsolationForest(contamination=0.02, random_state=42)
outlier_pred= iso.fit_predict(df[num_columns])
df['outlier']=outlier_pred
df['outlier']

0        1
1        1
2        1
3        1
4        1
        ..
32556    1
32557    1
32558    1
32559    1
32560    1
Name: outlier, Length: 32561, dtype: int64

In [ ]:
outlier_count= (df['outlier'] == -1).sum()
outlier_count

np.int64(652)

In [ ]:
df_clean=df[df['outlier'] == 1].drop(columns=['outlier'])
df_clean

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#Correlation matrix for numerical features (since PPS not available)
correlation_matrix=df_clean[num_columns].corr()
correlation_matrix

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
age,1.000000,-0.076454,0.031052,0.104117,0.033621,0.072892
fnlwgt,-0.076454,1.000000,-0.043219,-0.006929,-0.018000,-0.021950
education_num,0.031052,-0.043219,1.000000,0.143836,0.065145,0.140358
capital_gain,0.104117,-0.006929,0.143836,1.000000,-0.044871,0.084918
capital_loss,0.033621,-0.018000,0.065145,-0.044871,1.000000,0.035584
hours_per_week,0.072892,-0.021950,0.140358,0.084918,0.035584,1.000000

In [ ]:
#Discussion
Discussion= f"""
Outlier detection and Correlation Analysis:

1. **IsolationForest for Outlier Removal:**
   -IsolationForest identified {outlier_count} outliers approximately 2% of the dataset).
   -Outliers are data points that deviate significantly from the rest of the data distribution.
   -Removng these helps the model generalize better, prevents overfitting, and stbilizer parameters estimation.
   -However, excessive outlier removal may discard rare but valuable cases (e.g., 'high-income individuals').

   **Impact of Outliers:**
   -Outliers can disort model coefficients in linear model and inflate error metrics.
   -They also impact scaling, as min-max scaling and normalization are sensitve to extreme values.
   -Tree-based models are generally more robust but may still misallocate splits.

2. **Correlation Matrix:**
   -Correlation measures linear relationships between numeric features.
   -In the dataset, features like "capital_gain" and "hours_per_week" may show moderate positive correlation with "income".
   -Correlation helps identify related numeric variables but fails to detect non-linear dependcies.

3. As PPS feature was not available the results of the features are not shown and the relationship is also not mentioned


***Conclusion:***
             -Outlier removal via IsolationForest enhances data quality and reduces noise.
             -Correlation reveals direct numeric association but misses complex relationships.


"""
print(Discussion)

Outlier detection and Correlation Analysis:

1. **IsolationForest for Outlier Removal:**
   -IsolationForest identified 652 outliers approximately 2% of the dataset).
   -Outliers are data points that deviate significantly from the rest of the data distribution.
   -Removng these helps the model generalize better, prevents overfitting, and stbilizer parameters estimation.
   -However, excessive outlier removal may discard rare but valuable cases (e.g., 'high-income individuals').

   **Impact of Outliers:**
   -Outliers can disort model coefficients in linear model and inflate error metrics.
   -They also impact scaling, as min-max scaling and normalization are sensitve to extreme values.
   -Tree-based models are generally more robust but may still misallocate splits.

2. **Correlation Matrix:**
   -Correlation measures linear relationships between numeric features.
   -In the dataset, features like "capital_gain" and "hours_per_week" may show moderate positive correlation with "income".
   -Correlation helps identify related numeric variables but fails to detect non-linear dependcies.

3. As PPS feature was not available the results of the features are not shown and the relationship is also not mentioned


***Conclusion:***
             -Outlier removal via IsolationForest enhances data quality and reduces noise.
             -Correlation reveals direct numeric association but misses complex relationships.